:root{
    --darkgreen: #61892f;
    --lightgreen: #91d137;
    --black: #181b1d;
    --darkgrey: #474b4f;
    --lightgrey: #878d91;
    --white: #ffffff;
}
body{
    background-color: var(--black);
    color: var(--white);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
}
fieldset{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: .3rem;
    margin-top: 0rem;
}
#form-container{
    border: white 2px solid;
    border-radius: .5rem;
}
.fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}
input{
    margin: .5rem 0;
}
input[placeholder]{
    margin: .5rem;
}
h2{
    font-size: x-large;
    margin-top: 1rem;
}
.fieldset-header{
    text-align: center;
}
#password-container{
    flex-direction: column;
}
.float-right{
    float: right;
}
#remember-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#remember-container>label{
    margin-left: .5rem;
}