:root{
    --darkgreen: #61892f;
    --lightgreen: #91d137;
    --black: #181b1d;
    --darkgrey: #474b4f;
    --lightgrey: #878d91;
    --white: #ffffff;
}
body{
    background-color: var(--black);
    color: var(--white);
}

