:root{
    --darkgreen: #61892f;
    --lightgreen: #91d137;
    --black: #181b1d;
    --darkgrey: #474b4f;
    --lightgrey: #878d91;
    --white: #ffffff;
}
body{
    background-color: var(--black);
    color: var(--white);
}
a{
    text-decoration: none;
    color: black;
}
h1{
    margin: 2rem;
    margin-bottom: 1rem;
    font-size: xx-large;
    color: var(--lightgreen);
}
#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items{
    display: flex;
}
.items p{
    margin: 1rem;
    margin-top: 0;
}
.items p a{
    color: var(--lightgrey);
}
.items p a:hover{
    text-decoration: underline;
}
#log{
    margin: 2rem;
}
.h2{
    color: var(--lightgreen);
    font-size: x-large;
}
form{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    justify-content: flex-start;
}
fieldset{
    margin: .4rem;
    padding: .2rem;
}
.num-input{
    width: 25%;
}
h3{
    color: var(--lightgrey);
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.ex{
    margin: .3rem;
    margin-bottom: 0;
}
.sets{
    margin: .3rem;
    margin-bottom: 0;
}